/* common css style */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    
}
:root{
    --primary-bc:rgb(255, 84, 0);
    --primary-tc:rgb(255, 255, 255);
}
.nav-chang{
    color: rgb(255, 84, 0);
}
#primary-btn{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

/* common css style */
/* header section css */
.nav-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 2.8rem;
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.nav-img{
  max-width: 50px;
  max-height: 50px;
}
.nav-img img{
    width: 100%;
    height: 100%;
}
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title h3{
font-size: 2.3rem;
font-weight: 800;
line-height: 45px;
text-align: left;
}
.nav-list{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 44px;
}
.nav-list li{
     list-style-type: none;
}
.nav-list a{
text-decoration: none;
color: rgb(66, 66, 71);
font-size: 1.2rem;
font-weight: 700;
line-height: 23px;
}
/* header section css */
/* banner section css */
.banner-container{
    max-width: 1170px;
   height: 500px;
    margin: 0 auto;
    margin-top: 3.2rem;
    border-radius: 16px;
    background-image:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-area{
    width: 800px;

}
.banner-text h2{
    color: rgb(255, 255, 255);
font-size: 4rem;
font-weight: 800;
line-height: 80px;
text-align: center;
margin-bottom: 24px;
}
.banner-text p{
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-bottom: 48px;
}
.banner-input input,.banner-input select, .banner-input button{
    padding: 16px 0;
    width: 176px;
    border: none;
}
.banner-input input, .banner-input select{
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(19, 19, 24, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 20px;
padding-left: 16px;
}
 .banner-input{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 16px;

} 
/* banner section css */

/* tours-container css */
.tours-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}
.tours-area{
    display: flex;
    gap: 55px;
}
.tours-related-img{
    width: 100%;
    height: 100%;
}
 .tours-related-img img{
    width: 540px;
   
} 
.tours-related-text h2{
    color: rgb(19, 19, 24);
font-size: 2.5rem;
font-weight: 800;
line-height: 50px;
margin-bottom: 26px;
}
.tours-related-text .para1{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 26px;
}
.tours-related-text .para2{
    color: rgb(90, 90, 93);
font-size: 1rem;
font-weight: 400;
text-align: left;
margin-bottom: 40px;
}
.tours-list{
    padding: 0 20px;
color: rgba(19, 19, 24, 0.7);
font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: left;
margin-bottom: 24px;
}
.tours-list li{
    margin-bottom: 16px;
}
.tours-btn{
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
line-height: 25px;
text-align: center;
border-radius: 8px;
background: rgb(255, 84, 0);
padding: 14px 35px;
border: none;
}
/* tours-container css */

/* destination-container CSS */
.destination-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}
.destination-text{
    max-width: 643px;
   margin: 0 auto;
 
}
.destination-text h2{
    color: rgb(19, 19, 24);
font-family: Mulish;
font-size: 2.6rem;
font-weight: 800;
line-height: 50px;
text-align: center;
margin-bottom: 24px;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.row1 span{
    color: rgb(255, 255, 255);
font-family: Mulish;
font-size: 28px;
font-weight: 800;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
}
.maldives span, .indonesia span{
    display: block;
    padding-top: 135px;
}
.destination-text p{
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}
.maldives{
    width: 573px;
    height: 300px;
    background-image:linear-gradient( rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2) ), url("../Images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

}
.indonesia{
    width: 573px;
    height: 300px;
    background-image:linear-gradient( rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2) ), url("../Images/Rectangle\ 8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
  .row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 1.5rem;
  }
  .row2 span{
    color: rgb(255, 255, 255);
 font-size: 1.75rem;
 font-weight: 800;
  }
  .row2-img1 span, .row2-img2 span, .row2-img3 span{
    display: block;
    padding-top: 120px;

  }
  .row2-img1{
    width: 374px;
    height: 286px;
    background-image:linear-gradient(rgba(19, 19, 24, 0.2), rgba(19, 19, 24, 0.2)), url("../Images/Rectangle\ 6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
  }
  .row2-img2{
    width: 474px;
    height: 286px;
    background-image:linear-gradient( rgba(19, 19, 24, 0.2), rgba(19, 19, 24, 0.2) ),  url("../Images/Rectangle\ 7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
  }
  .row2-img3{
    width: 274px;
    height: 286px;
    background-image:linear-gradient( rgba(19, 19, 24, 0.2), rgba(19, 19, 24, 0.2) ), url("../Images/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
  }
  .row3-img1{
    width: 473px;
    height: 300px;
    background-image:linear-gradient( rgba(19, 19, 24, 0.2), rgba(19, 19, 24, 0.2) ), url("../Images/Rectangle\ 11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
  }
  .row3-img2{
    width: 673px;
    height:300px ;
    background-image:linear-gradient( rgba(19, 19, 24, 0.2), rgba(19, 19, 24, 0.2) ), url("../Images/Rectangle\ 10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
  }
  .row3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 24px;
  }
  .row3-img1 span, .row3-img2 span{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 800;
  }
  .row3-img1 span, .row3-img2 span{
    display: block;
    padding-top: 125px;
  }
/* destination-container CSS */
 
/* Simple place container Start */

.simple-place-container{
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
}
.simple-place-area{
    display: flex;
    gap: 28px;
}
.simple-text-area h2{
    color: rgb(19, 19, 24);
font-size: 2.5rem;
font-weight: 800;
text-align: left;
margin-bottom: 1.5rem;
}
.simple-text-area p{
    color: rgb(90, 90, 93);
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem;
text-align: left;
margin-bottom: 1.5rem;
}
.text-list{
    padding: 0 28px;
}
.text-list li{
    color: rgb(19, 19, 24);
font-size: 1rem;
font-weight: 700;
line-height: 1.625rem;
text-align: left;
margin-bottom: 1rem;
}
.simple-text-area button{
background-color: var(--primary-bc);
color: var(--primary-tc);
border: none;
font-size:1.25rem;
font-weight: 800;
line-height: 1.5625rem;
text-align: center;
padding: 14px 42px;
border-radius: 8px;
margin-top: 2rem;
}
.simple-img-area{
  position: relative;
}
.simple-img-area span{
    max-width: 276px;
     position: absolute;
    top: 45%;
    left: 30%;
    color: var(--primary-tc); 
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

} 
.simple-img-area a{
    text-decoration: none;
}
 
/* Simple place container End */

/* Newsletter container Start */
.newsletter-container{
   max-width: 1170px;
   margin: 0 auto;
   margin-top: 100px;
}
.newsletter-area{
    display: flex;
    gap: 1.5rem;
}
.newsletter-text h3{
    color: rgb(19, 19, 24);
font-size: 1.5rem;
font-weight: 800;
text-align: left;
margin-bottom: 1rem;
}
.newsletter-text p{
    color: rgb(90, 90, 93);
font-size: 1rem;
font-weight: 400;
text-align: left;
padding-bottom: 23px;
border-bottom: 1px solid rgba(19, 19, 24, 0.1);;

}
.newsletter-text{
    max-width: 474px;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 33px 40px;
}
.newsletter-text input{
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.3);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    border: none;
    padding: 16px 0 20px 16px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.newsletter-text button{
    width: 100%;
    color:var(--primary-tc);
    background-color: var(--primary-bc);
font-size: 1.25rem;
font-weight: 800;
text-align: center;
border: none;
padding: 14px 0;
margin-top: 8px;
border-radius: 8px;
}
.newsletter-img{
    width: 672px;
    height: 422px;
    border-radius: 16px;
    position: relative;

}
.save-card{
    max-width: 335px;
    border-radius: 16px;
    background-color: var(--primary-bc);
    text-align: center;
    padding: 35px 45px;
    position: absolute;
    left: 327px;
    top: 226px;
    transform: rotate(-22.63deg);
}
.save-card p{
    color: var(--primary-tc);
font-size: 1.5rem;
font-weight: 400;
}
.save-card h4{
    color: var(--primary-tc);
font-size: 2rem;
font-weight: 800;
}
/* Newsletter container End */

/* Footer container Start */
.footer-container{
    margin-top: 6.25rem;
    background: rgba(19, 19, 24, 0.05);
}
.footer-img{
    margin-right: 1rem;
}
.footer-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-title h3{
    color: rgb(19, 19, 24);
font-size: 2rem;
font-weight: 800;
margin-bottom: 0.9375rem;

}
.footer-para{
    max-width: 769px;
    margin: 0 auto;
}
.footer-area{
    padding: 110px 0;
}
.footer-area .para{
    color: rgb(90, 90, 93);
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem;
text-align: center;
margin-bottom: 2rem;
}
.footer-icon{
    display: flex;
    gap: 2rem;
    justify-content: center;
    border-bottom: 1px solid rgba(19, 19, 24, 0.1);
    margin-left: 284px;
    margin-right: 284px;
    padding-bottom: 49px;
}
.footer-icon a{
   color: rgb(19, 19, 24);
    text-decoration: none;
    font-size: 1.5rem;
}
.footer-area .reserved{
color: rgb(19, 19, 24);
font-size: 1rem;
font-weight: 300;
text-align: center;
margin-top: 50px;
}
/* Footer container End */